@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-color: #f1f2ed;
  scroll-behavior: smooth;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.joseph {
  font-family: 'Faith Hope', sans-serif;
}
.prg {
  font-family: 'Flanker Griffo', sans-serif;
}
.fnp {
  font-family: 'Porladek', sans-serif;
}
